.App {
  background-color: grey;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.home-nav-container {
  background-color: brown;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
