/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
}

.container {
  background-color: grey;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.bg-container {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.content-container {
  /* background-color: black; */
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  display: flex;
  flex-wrap: wrap;

  transition: all 0.5s ease-in-out;
}

.content-container:hover {
  /* background-color: rgba(255, 0, 0, 0.267); */
}

.content-item {
  background-color: rgba(190, 190, 190, 0.459);
  backdrop-filter: blur(2px);
  flex-grow: 1;
  /* margin: 10px; */

  /* outline: 1px solid white; */

  box-shadow: 1px 1px 0px 1px white;

  flex: 1 0 calc(33% - 10px);

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: large;
  letter-spacing: 1.8rem;

  /* HOVER EFFECT */
  transition: all 0.2s ease-in;

  /* HAND */
  cursor: pointer;
}

.content-item:hover {
  transform: scaleX(1.01);
  box-shadow: none;
  background-color: rgba(255, 0, 0, 0.808);
  letter-spacing: 2rem;
  z-index: 10;

  box-shadow: 1px 1px 140px 1px rgba(112, 112, 112, 0.555);
}

@media screen and (max-width: 600px) {
  .content-item {
    flex: 1 0 calc(50% - 10px);
  }
}

@media screen and (max-width: 300px) {
  .content-item {
    flex: 1 0 calc(100%);
  }
}
